{% extends 'pagos/base.html' %}

{% block content %}

<section class="card card-padding form-card">
    <h2 class="section-title">{{ titulo }}</h2>
    <p class="section-subtitle">Completa los datos del producto.</p>

    <form method="POST" novalidate>
        {% csrf_token %}

        <div class="form-group">
            <label>Nombre del producto</label>
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>

        <div class="form-group">
            <label>Precio</label>
            {{ form.precio }}
            {{ form.precio.errors }}
        </div>

        <div class="form-check">
            {{ form.activo }}
            <label>Producto activo</label>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">{{ boton }}</button>
            <a href="{% url 'productos_lista' %}" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</section>

{% endblock %}